.activity-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.exercises{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    padding: 10px;
}
.activity-details{
    background-color: white;
    padding: 15px;
}


@media screen and (max-width:992px) {
    .exercises{
        grid-template-columns: repeat(2,1fr);      
    }
}

@media screen and (max-width:662px) {
    .exercises{
        grid-template-columns: 1fr;    
        gap: 10px;  
    }
    .activity-container{
        grid-template-columns: 3fr 2fr;
    }
}
